.FeaturedProducts {
  width: 100%;

  .container {
    margin-top: var(--padding-lg);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 16px;
    width: 100%;
    flex-wrap: nowrap;
  }
}
