.Categories {
  padding: var(--padding-lg);
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: var(--my-border-radius);
  table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
  }
}
