.Item {
  display: flex;
  align-items: center;
  flex: 1;
  gap: 12px;
  .icon {
    font-size: 28px;
  }
  .content {
    display: flex;
    flex-direction: column;
    gap: 2px;
    font-size: 14px;
    :first-child {
      font-weight: 700;
    }
  }
}
