.Item {
  display: flex;
  align-items: center;
  gap: 12px;
  // color: #fff;
  cursor: pointer;
  .icon {
    span[role='img'] {
      font-size: 28px;
      // color: #fff;
    }
  }
  .content {
    display: flex;
    flex-direction: column;
    gap: 2px;
    font-size: 12px;
    font-weight: 500;
  }
}
