.Header {
  // background-color: #11181f;
  background-color: #fff;
  padding: 0 24px;
  height: 80px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  border-top: 1px solid var(--border-color);
  display: block;
  position: sticky;
  top: 0;
  z-index: 10;
  overflow: hidden;
  .contentWrapper {
    max-width: var(--my-max-width);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
    margin: 0 auto;
    height: 100%;
    // color: #fff;
    .logo {
      font-size: 24px;
      font-weight: 600;
      color: var(--green);
      a {
        text-decoration: none;
        color: inherit;
      }
    }
    .center {
      flex: 1;
    }
    .right {
      display: flex;
      justify-content: flex-end;
      gap: 32px;
      align-items: center;
    }
  }
}
