.Footer {
  background-color: #fff;
  padding: 24px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  .contentWrapper {
    max-width: var(--my-max-width);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    margin: 0 auto;
    height: 100%;
    .left {
      p {
        width: 60%;
      }
    }

    .right {
      display: flex;
      justify-content: flex-end;
      gap: 12px;
      align-items: center;
    }
  }
}
