.Footer {
  background-color: #fff;
  .maxWidthContainer {
    max-width: var(--my-max-width);
    // width: 100%;
    margin: 0 auto;
    padding: 0 var(--padding-lg);
  }
  .above {
    .container {
      @extend .maxWidthContainer;
      max-width: calc(var(--my-max-width) * 3 / 4) !important;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 48px;
      padding-block: calc(var(--padding-lg) * 2);

      .label {
        display: flex;
        gap: 12px;
        align-items: center;
        .icon {
          font-size: 32px;
        }
      }
      .input {
        flex: 1;
      }
    }
  }
  .contentWrapper {
    border-top: 1px solid var(--border-color);
    .container {
      @extend .maxWidthContainer;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 24px;
      margin: 0 auto;
      padding-block: var(--padding-lg);
      .content {
        width: 100%;
        .contactUs {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 12px;
          p {
            margin: 0;
            line-height: 28px;
            span {
              display: block;
            }
            .spacer {
              margin-block: 12px;
            }
          }
          .socials {
            margin-top: var(--padding-lg);
            .btn {
              border-radius: 50%;
              width: 44px;
              height: 44px;
              display: flex;
              justify-content: center;
              align-items: center;
              background-color: #2b353e;
              .icon {
                color: #fff;
              }
            }
          }
        }
        .label {
          font-size: 18px;
          font-weight: 700;
          margin-bottom: 12px;
        }
        .link {
          margin-top: 0;
          margin-bottom: 5px;
          a {
            text-decoration: none;
            font-size: 13px;
            color: var(--green);
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
  .below {
    border-top: 1px solid var(--border-color);
    background-color: #11181f;
    color: #fff;
    .container {
      @extend .maxWidthContainer;
      padding-block: var(--padding-md);
      p {
        font-size: 13px;
        margin: 0;
      }
    }
  }
}
