.Blogs {
  :global {
    .ant-skeleton,
    .ant-skeleton-image {
      width: 100%;
    }
    .ant-skeleton-image {
      height: 200px;
    }
  }
  .container {
    border-radius: var(--my-border-radius);
    background-color: #fff;
    padding: var(--padding-lg);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
  }
  .title {
    display: flex;
    justify-content: space-between;
    gap: 12px;
    align-items: center;
    font-weight: 600;
  }

  .loadingContainer {
    border-radius: var(--my-border-radius);
    background-color: #fff;
    padding: var(--padding-lg);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  }
}
