.Products {
  .block {
    background-color: #fff;
    padding: var(--padding-lg);
    border-radius: var(--my-border-radius);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  }

  .filterContainer {
    @extend .block;
    .title {
      font-size: 20px;
      font-weight: 700;
      display: block;
      margin-top: 0;
      margin-bottom: 20px;
    }
    .container {
      display: flex;
      flex-direction: column;
      .filterItem {
        display: flex;
        flex-direction: column;
        gap: 12px;
        .label {
          font-weight: 700;
          margin: 0;
        }
        .priceContainer {
          display: flex;
          width: 100%;
          gap: 12px;
          :global {
            .ant-form-item {
              flex: 1;
            }
            .ant-input-number-affix-wrapper {
              width: 100%;
            }
          }
        }
      }
    }
  }
  .sortContainer {
    @extend .block;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    :global {
      .ant-form-item {
        margin: 0;
      }
      .ant-select {
        width: 200px;
      }
    }
    .left {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 12px;
    }
    .right {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 12px;
      font-size: 12px;
    }
  }

  .productList {
    .productContainer {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 16px;
      width: 100%;
      flex-wrap: nowrap;
      margin-bottom: 24px;
    }
  }
}
